# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\apps-flutter\app-via-cep\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
